.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 0 0;
    border-radius: 30px 30px;
    background-color: #1C232B;
    box-shadow: 0px 4px 20px 3px rgba(77,77,77,0.7);
    -webkit-box-shadow: 0px 4px 20px 3px rgba(77,77,77,0.7);
    -moz-box-shadow: 0px 4px 20px 3px rgba(77,77,77,0.7);
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 4px 20px 3px rgb(18 18 18 / 70%);
    -webkit-box-shadow: 0px 4px 20px 3px rgb(18 18 18 / 70%);
    -moz-box-shadow: 0px 4px 20px 3px rgb(18 18 18 / 70%);
    transform: scale(1.03);
}

.card img {
    margin: 0 auto;
    width: 70%;
    height: auto;
    border-radius: 50%;
}

.card-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #FAFBFD;
    border-radius: 0 0 30px 30px;
    text-align: center;
    min-height: 38px;
}

.card-title {
    font-weight: 800;
}

@media (max-width: 520px) {
    .card-title {
       font-size: 14px;
    }   
}